body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid lightblue;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: 0px solid blue;*/
    width: 80%;
}

.logo-content-img { 
    height: 43px; 
    width: 43px;
    border: solid 0px #42515f;}

.address-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
}

.address-book { color: #42515f; }

* { box-sizing: border-box;}

.form-content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid lightskyblue;
}

.form {
    width: 50%;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
    margin: 40px;
}

.form-head {
    float: inline;
    font: normal normal normal 28px/37px Roboto;;
    letter-spacing: 0px;
    background: #008CFF 0% 0% no-repeat padding-box;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    opacity: 1;
    padding: 40px;
    padding-bottom: 35px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.close-button {
    float: right;
    padding-right: 40px;
    padding-top: 3px;
    padding-bottom: 20px;
}
.row-content {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: left;
    border: 0px solid lightskyblue;
}

.label {
    min-width: 140px;   
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font: normal normal normal 18px/24px Roboto;
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input:focus {
	outline: none;
  	border: 1px solid #008CFF;
}

textarea:focus{
    outline: none;
    border: 1px solid #008CFF;
}
.location-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    resize: vertical;
    flex-wrap: wrap;
  }
  
.location-row div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
  
.location-row div:nth-of-type(2) {
    margin: 0px 25px;
}
  
.location-row input {
    box-sizing: border-box;
    font-size: 16px;
}
  
select {
    margin-left: 0px;
    padding: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    display: inline;
    width: 100%;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    resize: vertical;
}

select:focus {
	outline: none;
  	border: 1px solid #008CFF;
}

.buttonParent {
    float: right;
    padding: 20px 50px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    font-size: 20px;
    font-family:Roboto;
    letter-spacing:0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border:none;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
}

.submitButton {
    border:none;
    background-color: #f5f5f5;
    margin-right: 30px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
}
.submitButton:disabled{
    pointer-events: none;
    opacity: 0.3;
}
.submitButton:hover {
    background:  #008CFF 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}

.resetButton{
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
} 
.resetButton:hover{
    background: #707070 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}
error-output {
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}
@media only screen and (max-width: 960px){
    .form{
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .form{
        margin-top : 10px;
    }
    .location-row div:nth-last-of-type(2) {
        margin: 0px 0px;
    }
    .row-content{
        width: 100%;
    }
    .row {
        flex-direction: column;
    }
    .uploadButton {
        justify-content: flex-start;
    }
    .row-content{
        flex-flow: wrap;
    }
    .submit-reset {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .submitButton{
        margin: 10px;
    }
    .buttonParent {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}
